 *{
      padding:0px;
      margin:0px;
    }
      .wrapper{
        background-color:lightgray;
        width:90vw;
        margin:auto;
        height;100vh;
      }
      header{
        background-color:lightsalmon;
        height:10vh;
      }  
      footer{
        background-color:lightgreen;
        height:10vh;
        clear:both;
      }  
      nav{
        background-color:lightblue;
        width:25%;
        float:left;
      }
      main{
        background-color:lightcoral;
        width:75%;
        float:right;
        overflow:scroll;
      }
      nav li{
        list-style-type:none;
        padding:10px;
      }
      .middle{
        height:80vh
      }