 body{
      padding:0px;
      margin:0px;
    }
    a[name]{
      color:darkgreen;
      font-family:'Courier New';
    }
    a[href]{
      color: #ff0000;
    }
    a[href]:visited {
      color:lightgray;
    }
    a[href]:hover {
      color:orange;
    }
    a[href]:active {
      color:blue;
    }
    nav{
      background-color:bisque;
      border: 5px solid darkblue;
      padding:5px;
      margin-top:50px;
      margin-bottom:25px;
      margin-left:0px;
      margin-right:15px;

    } 

    p{
      margin-right:25px;
      color:darkblue;
      margin-left:50px;
    }

    main.idk div{
      color:darkgreen;
      font-family: 'Courier New';
    }
    ul,ol{
      text-decoration:underline;
    }

    article > h1{
      color:red;
    }


    h1 + p{
      font-size:larger;
    }


    main.idk p:first-letter{
      color: green;
      font-size:x-large;
    }

    p:nth-child(3){
      background-color:lightblue;
    }

    .class1{
      background-color:lightblue;
    }
    .class2{
      font-size:24px;
    }
    /*.class3{
      font-family:Verdana;
      fon-size:smaller;
    }*/

    tr[class*='class3']{
      background-color:red;
    }